extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      p#logo Awesome Generator
    .navlink
      a(href="/logout") Log out
    section#paymentsForm
      form#payForm(class="payForm", name="payForm", action="/maker", method="POST", maxlength="115")
        input#payItem(type="text", name="name", placeholder="type anything and make it AWESOME")
        a#paymentsFormSubmit(class="paymentsFormSubmit", href="#") Make Awesome
        #errorPayments
          h3
            span#errorMessage *Nothing inserted in box!
    if !payments || payments.length == 0
        div.onePay
            h3.noPay Currently Nothing is Awesome :(
    else
   div.wrap
        div.emm
            img.emmit(src="/assets/img/emmet2.png", alt="emit speech")
            div.eBubText
             - var payment = payments[payments.length-1]
                   h3.payItem #{payment.name}
        div.awss
            img.aws(src="/assets/img/awsome2.png", alt="hero img")
            div.pBubText
            h3.priceItem IS AWESOME!
  h3.title Other Things That Are Awesome
  section#payments

        each val in payments
            div.onePay
                div.wrap
                    div.emm_small
                        img.emmit(src="/assets/img/emmet2.png", alt="emit speech")
                        div.eBubText
                        h3.payItem_small #{val.name}
                    div.awss_small
                        img.aws(src="/assets/img/awsome2.png", alt="hero img")
                        div.pBubText
                        h3.priceItem_small IS AWESOME!
block scripts
        script(src="/assets/maker.js")