extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      p#logo Manage Payments
    .navlink
      a(href="/logout") Log out
  section#paymentsForm
    form#payForm(class="payForm", name="payForm", action="/maker", method="POST", maxlength="115")
      input#payItem(type="text", name="name", placeholder="item name")
      a#paymentsFormSubmit(class="paymentsFormSubmit", href="#") Create Item
      #errorPayments
        h3
          span#errorMessage *All fields required!
  h3.title Your Payments
  section#payments
    if !payments || payments.length == 0
        div.onePay
            h3.noPay Currently No Payments!
    else
        each val in payments
            div.onePay
                div.wrap
                    div.emm
                        img.emmit(src="/assets/img/emmet2.png", alt="emit speech")
                        div.eBubText
                        h3.payItem #{val.name}
                    div.awss
                        img.aws(src="/assets/img/awsome2.png", alt="hero img")
                        div.pBubText
                        h3.priceItem IS AWESOME!
block scripts
        script(src="/assets/maker.js")